@import url("https://fonts.googleapis.com/css?family=Creepster");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body {
  margin: 0;
  overflow: hidden;
}
canvas {
  background: radial-gradient(rgb(150, 200, 150), rgb(50, 100, 50));
}

/* Add this code to your style.css */
#customDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: purple;
}

.hidden {
  display: none;
}

.question{
  border: solid red;
  background-color: orange;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
 /* padding-left: 10px;
  padding-right: 10px;
  float: left;*/
  /*width:fit-content;*/
  /*border: solid yellow;*/
  background-color: white;
}



/*****************************/

.custom-radio {
  display: flex;
  flex-direction: column;
  background-color: #fff;
margin-top:20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}



.radio-text {
  font-size: 1rem;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.custom-radio input[type="radio"]:checked + .radio-label {
  background-color: #ffa500;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
  border-color: #fff;
  background-color: #ffa500;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-text {
  color: #64748b;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}